#main-nav  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 

#main-nav > ul > li {
    float: left;
}

#main-nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-nav > ul > li > a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#img-bg  > img {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    border: 2px none;
}

#details-div {
    display: flex;
}

#details-div > .item1 {
    flex: 1 1 auto;
}

#details-div > .item2 {
    flex: 1 1 auto;
}

#details-div > .item3 {
    flex: 1 1 auto;
}

/* #contacts {
    display: flex;
} */
